@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
    font-size: 18px;
    font-family: 'Open Sans';
    --text-primary: #fff;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
}

/*
  Global Styles
*/
body {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

/*
  Styles
*/
.nav-bar {
    background-color: var(--bg-primary);
    height: 5vh;
    width: 100%;
}

.nav-menu {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    border: 2px solid red;
    height: inherit;
    margin: 0;
    padding: 0;
}

.nav-menu .nav-menu-item {
    padding: 0.6rem 3rem;
}

.nav-menu li a {
    color: var(--text-primary);
}

.nav-menu-item:first-child {
    margin-right: auto;
    padding-left: 0;
    margin-left: 0;
}

#logo a {
    font-family: 'Open Sans', sans-serif;
}

.sub-menu {
    display: flex;
    flex-direction: column;
}